/* You can add global styles to this file, and also import other style files */
html {
  background-image: url("assets/wall.webp");
  background-repeat: repeat;
  background-size: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family:'Times New Roman', Times, serif;
}

footer {
  text-align: center;
  border-top: 2px black solid;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  bottom: 0px;
  padding: 5px;
  background-color: rgb(105, 105, 105);
  margin-left: -8px; //there's probably a better way to fix this gap
}

.dc-button {
  border: 2px black solid;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  background-color: gray;
  cursor: pointer;
}

.dc-button:hover {
  background-color: rgb(110, 110, 110);
}