h1 {
  text-align: center;
  font-size: 10vh;
}

div {
  text-align: center;
}

.menu-btn {
  width: 65%;
}

#navWrapper {
  position: fixed;
  top: 20px;
  width: calc(100% - 16px);
}

.navBtn {
  width: 75px;
  height: 75px;
  padding: 0;
  box-sizing: content-box;
  cursor: pointer;
  background-color: gray;
  box-shadow: black 2px 2px 2px 2px;
}

#mg-logo {
  float: left;
  margin-left: 12px;
}

#mg-logo img {
  width: inherit;
}

#loginBtn, #profileBtn {
  float: right;
  margin-right: 12px;
}

.navBtn:hover {
  background-color: rgb(112, 112, 112);
}

#loginWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
}

app-login {
  width: 50%;
}


//fix layouts on smalls screens
@media(max-width: 900px) {
  .navBtn {
    width: 45px;
    height: 45px;
  }
}

@media(max-width: 500px) {
  .navBtn {
    width: 35px;
    height: 35px;
  }

  app-login {
    width: 55%;
  }
}