<div id="navWrapper">
  <button id="mg-logo" class="navBtn" (mouseenter)="toggleMG('on')" (mouseleave)="toggleMG('off')" (click)="navMG()">
    <img [src]="mgLogoSrc" alt="Mind Goblin Logo">
  </button>
  <button id="profileBtn" class="navBtn" class="navBtn" (mouseenter)="iconStyle = 'fas'" (mouseleave)="iconStyle = 'far'" (click)="navProfile()">
    <fa-icon [icon]="[iconStyle, 'user']" size="2x"></fa-icon>
  </button>
</div>

<h1>Dungeon Crawlers</h1>
<div>
  <button class="dc-button menu-btn">New Character</button>
  <button class="dc-button menu-btn">Load Character</button>
  <button class="dc-button menu-btn" (click)="navRules()">Rules Document</button>
</div>

<div style="display:flex;flex-wrap: wrap;margin-bottom: 100px;width:100%;justify-content: center;">
  <card style="margin: 10px;" *ngFor="let card of cards; index as i" [name]="card" [status]="status[i]"></card>
</div>

<footer>
  <div>
    <p>
      Dungeon Crawlers was created by Maggy Bledsoe<br>
      Special thanks to [list here] for contributing to this project
    </p>
  </div>
  <small>Site last updated to version 0.0.3 on 6/28/23 by Kyler Froman</small>
</footer>