<h1>Dungeon Crawlers</h1>
<div>
  <button class="dc-button menu-btn">New Character</button>
  <button class="dc-button menu-btn">Load Character</button>
  <button class="dc-button menu-btn">Rules Document</button>
</div>
<!-- <div style="display:flex;flex-wrap: wrap;margin-bottom: 100px;width:100%;justify-content: center;">
  <card style="margin: 10px;" *ngFor="let card of cards; index as i" [name]="card" [status]="status[i]"></card>
</div> -->
<footer>
  <div class="credit">
    <p>
      Dungeon Crawlers was created by Maggy Bledsoe<br>
      Special thanks to [list here] for contributing to this project
    </p>
  </div>
  <small>Site last updated to version 0.0.1 on 6/21/23 by Kyler Froman</small>
</footer>